body * {
  margin: 0;
  font-family: 'Open Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  width: 100vw;
  height: 100dvh;
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cube {
  background: #f9f9f9;
  border: 1px solid #00000024;
  border-radius: 10px;
  transition: transform 1s ease;
  overflow: auto;
}

.cube::-webkit-scrollbar {
  width: 0;
}

.cubeContent {
  transition: opacity 0.7s ease;
}

.reverse {
  transform: rotateY(180deg);
}

.forward {
  transform: rotateY(0deg);
}

.ant-btn div {
  color: rgb(45, 45, 45);
}

.ant-btn:focus-visible {
  outline: unset!important;
}

a {
  color: #4c9bff;
}

a:hover {
  text-decoration: underline!important;
}

.selected {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgb(189, 189, 189);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  transition: all .3s ease-in-out;
  font-size: 16px;
}

.not-selected {
  transition: all .3s ease-in-out;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgb(189, 189, 189);
}

.not-selected:hover {
  transform: scale(1.4);
}

.arrow {
  width: 12px;
  height: 12px;
  border-top: 2px solid black;
  border-right: 2px solid black;
}

.arrow-bottom {
  transform: rotate(-45deg) translate(-16%, 16%);
}

.scroll-circle {
  background: #0e0e0e;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  transition: all .5s ease;
}

.ant-timeline-item-tail, .ant-timeline-item-head.ant-timeline-item-head-blue {
  inset-inline-start: 86px!important;
}

.ant-timeline-item-label {
  width: 70px!important;
}

.ant-timeline-item-content {
  width: calc(100% - 110px) !important;
  inset-inline-start: 80px!important;
}

.common-text {
  font-size: 14px;
  font-weight: 400;
}

.mb10 {
  margin-bottom: 10px;
}

.mt10 {
  margin: 10px 0 0;
}

.ant-list-item-meta-avatar img {
  width: 30px;
}

.demo-loadmore-list .slick-dots {
  opacity: 0!important;
}