@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

*::selection {
  background: rgba(17, 75, 23, 0.49); /* Safari */
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

body > div {
  font-family: "Open sans", sans-serif;
  font-weight: 300;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 15px;
  font-weight: 300;
  padding: 25px;
}

.main_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}

.main_info1 {
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 500;
}

.main_info2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.main_photo img {
  width: 252px !important;
  height: auto;
  border-radius: 5px;
}

.developer {
  margin-bottom: 60px;
}

.developer_main {
  margin: 25px 0 10px;
  font-size: 30px;
  font-weight: 500;
}

.developer_dop {
  margin: 0;
  font-size: 20px;
}

.performance {
  padding: 0 25px 25px;
}

.performance_main1 {
  font-size: 30px;
  font-weight: 500;
}

.performance_main2 {
  font-size: 23px;
  font-weight: 500;
}

.performance_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.performance_basic {
  font-size: 15px;
  line-height: 18px;
  font-weight: 600;
}

.performance_basic > div {
  font-size: 25px;
  margin-bottom: 10px;
}

.edu {
  padding: 0 25px 25px;
}

.edu_main {
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: 500;
}

.edu_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}

.edu_type {
  width: 200px;
  line-height: 18px;
}

.edu_name {
  width: 600px;
}

.edu_name1 {
  font-size: 25px;
  margin-bottom: 10px;
}

.edu_name2 {
  font-size: 15px;
}

.knowledge {
  padding: 25px;
}

.know_main {
  font-size: 30px;
  margin-bottom: 15px;
  font-weight: 500;
}

.know_basic {
  font-size: 18px;
  font-weight: 200;
  line-height: 25px;
}

.projects {
  padding: 0 25px 25px;
}

.screenshots {
  width: 45%;
}

.photos {
  width: 100%;
  margin: 20px 0 25px 0;
  display: flex;
  justify-content: space-between;
}

.photos > img {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.4);
}

.ant-card-body,
.ant-card-head {
  padding: 20px !important;
}

@media (max-width: 800px) {
  .main_photo img {
    border-radius: 5px !important;
  }

  .main_photo .ant-card-meta-title {
    white-space: unset !important;
    margin-bottom: 20px !important;
  }

  .main_photo {
    width: 100% !important;
  }

  .main_photo > .ant-card {
    padding-top: 16px;
  }

  .main_photo .ant-card {
    width: 100% !important;
  }

  .main {
    align-items: stretch;
  }

  .main_info .ant-row,
  .main_info .ant-card {
    height: 100%;
  }
}

@media (max-width: 500px) {
  .main {
    justify-content: center !important;
  }

  .main,
  .edu,
  .performance,
  .knowledge,
  .projects {
    padding: 15px;
  }

  .cubeContent .ant-card-head,
  .cubeContent .ant-card-body {
    padding: 15px !important;
  }

  .ant-timeline-item-label {
    width: 53px !important;
  }

  .ant-timeline-item-tail,
  .ant-timeline-item-head.ant-timeline-item-head-blue {
    inset-inline-start: 60px !important;
  }

  .ant-timeline-item-content {
    margin-inline-start: -10px !important;
  }

  .ant-timeline-item-content {
    width: calc(100% - 63px) !important;
  }
}

.ant-list-item-meta a:hover {
  text-decoration: unset !important;
}

.ant-card {
  transition: all 0.3s ease;
}

.ant-card:hover {
  transform: scale(1.02, 1);
  z-index: 100;
}
